@charset "UTF-8";
.mixin-fullScreen {
  width: 100%;
  height: 100%;
}
.mixin-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  margin: 0;
  padding: 0;
}
html,
body,
.mainContent {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.footer {
  margin: 0 auto;
  color: #00000073;
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -100px;
}
.footer .ant-col-8,
.footer .ant-col-24 {
  text-align: center;
}
/*下拉框*/
.horizForm {
  margin: 10px 0 0 0;
}
.horizForm .ant-select {
  width: 150px;
}
/*表格上方提示*/
.commonAlert {
  margin: 20px 0 10px 0;
}
.commonAlert .selEmpty {
  color: #1890FF;
  margin: 0 0 0 20px;
}
.commonAlert .selNum {
  color: #1890FF;
  margin: 0 5px;
}
/*上传图片*/
.ant-upload-list {
  height: 104px;
  margin-right: 8px;
  margin-bottom: 0;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.avatar-uploader > .ant-upload .ant-upload-list-picture-card {
  margin-bottom: 0;
}
.avatar-uploader > .ant-upload .ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}
.avatar-uploader > .ant-upload .ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  margin-bottom: 0;
  color: #666;
}
.ant-upload.ant-upload-select-picture-card {
  margin-bottom: 0;
}
/*登录界面css*/
.loginContext {
  background: #F8FAFE;
  margin: 0 auto;
  position: absolute;
}
.loginImg {
  width: 370px;
  height: 370px;
  position: absolute;
  top: 50%;
  margin-top: -185px;
}
.loginBox {
  width: 500px;
  height: auto;
  margin: 0 auto;
  margin-top: 10%;
}
.loginBox .loginName {
  font-weight: bold;
  text-align: center;
}
.loginBox .loginName i {
  color: #1890FF;
  font-size: 40px;
  margin-top: 5px;
  margin-right: 5px;
}
.loginBox .loginName span {
  color: #333;
  font-size: 30px;
}
.loginBox .loginDescipt {
  display: block;
  color: #00000073;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.loginBox .loginTabs .ant-tabs-bar {
  border: none;
  text-align: center;
}
.loginBox .loginTabs .passwordForm {
  width: 350px;
  max-width: 350px;
  margin: 0 auto;
}
.loginBox .loginTabs .passwordForm .login-form-forgot {
  float: right;
}
.loginBox .loginTabs .passwordForm .login-form-button {
  width: 100%;
}
.loginBox .loginTabs .loginOther {
  display: inline-block;
}
.loginBox .loginTabs .loginOther label {
  margin-right: 10px;
}
.loginBox .loginTabs .loginOther i {
  color: #1890FF;
  margin-right: 10px;
  font-size: 26px;
  cursor: pointer;
}
.loginBox .loginTabs .registerLabel {
  float: right;
  color: #1890FF;
}
.registerForm {
  width: 400px !important;
  max-width: 400px !important;
}
.registerForm .registerRow .ant-col-10 {
  text-align: right;
}
.registerForm .registerRow .ant-col-10 a {
  color: #1890FF;
}
.mainContent .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.mainContent .trigger:hover {
  color: #1890ff;
}
.mainContent .headers {
  background: #fff;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.mainContent .headers ul {
  margin-right: 10px;
}
.mainContent .headers ul li {
  float: left;
}
.mainContent .headers ul li i {
  color: #00000073;
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}
.mainContent .headers ul li i:hover {
  color: #1890FF;
}
.mainContent .headers ul li .searchIcon {
  font-size: 26px;
}
.mainContent .headers ul .messageIcon {
  margin-top: 4px;
}
.mainContent .headers ul .userList {
  cursor: pointer;
  margin-left: 20px;
}
.mainContent .headers ul .userList .ant-dropdown-link {
  width: 100%;
}
.mainContent .headers ul .userList .ant-dropdown-link > span {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 50%;
  background: #1890FF;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}
.mainContent .headers ul .userList .ant-dropdown-link > p {
  color: #00000073;
  margin-bottom: 0;
  display: inline-block;
}
.mainContent .headers ul .userList .ant-dropdown-link > i {
  display: inline-block;
  margin-left: 0;
}
.mainContent .contents {
  margin: 0 16px 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}
.mainContent .logo {
  margin: 0 10px;
  color: #fff;
  text-align: center;
}
.mainContent .logo i {
  font-size: 40px;
  color: #1890FF;
}
.mainContent .logo span {
  font-size: 22px;
  font-weight: bold;
}
.mainContent .breadCrumbs {
  margin: 16px;
}
.mainContent .mainMenu i {
  margin-right: 10px;
  font-size: 22px;
}
.mainContent .mainMenu .menuSpan0 {
  opacity: 0 !important;
}
.mainContent .mainMenu .menuSpan1 {
  opacity: 1 !important;
}
.questionImg {
  width: 35px;
  height: 35px;
}
.questionAnalysis .imgCol {
  height: 90px;
}
.questionAnalysis .imgCol img {
  width: 100%;
  height: 100%;
}
.questionAnalysis .questionBt {
  font-size: 16px;
  font-weight: bold;
}
.questionAnalysis .questionState {
  display: flex;
}
.questionAnalysis .questionADivider {
  margin-top: 0;
}
