@charset "UTF-8";

.mixin-fullScreen{
  width: 100%;
  height: 100%;
}
.mixin-omit{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app{
  .mixin-fullScreen;
  overflow: hidden;
}
*{
  font-size : 14px;
  font-family : "Microsoft YaHei";
  margin: 0;
  padding: 0;
}
html,body,.mainContent{
  .mixin-fullScreen;
}
ul{
  list-style : none;
}
a{
  text-decoration : none;
}
.fl{
  float : left;
}
.fr{
  float: right;
}
@commonBlue: #1890FF;
@defaultBlue: #F8FAFE;
@commonGray: #00000073;


.footer{
  margin: 0 auto;
  color: @commonGray;
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -100px;
  .ant-col-8,.ant-col-24{
    text-align: center;
  }
}
/*上传图片*/
.ant-upload-list{
  height: 104px;
  margin-right: 8px;
  margin-bottom: 0;
}
.avatar-uploader{
   > .ant-upload {
     width: 128px;
     height: 128px;
     .ant-upload-list-picture-card{
       margin-bottom: 0;
     }
     .ant-upload-select-picture-card {
       i {
         font-size: 32px;
         color: #999;
       }
       .ant-upload-text {
         margin-top: 8px;
         margin-bottom: 0;
         color: #666;
       }
     }
   }
 }
.ant-upload.ant-upload-select-picture-card{
  margin-bottom: 0;
}


@import "loginView";
@import "registerView";
@import "mainView";
@import "questionListView";